{% extends "base.html.twig" %}

{% block title %}WeSport Création Evénement{% endblock %}

{% block body %}

<h1 class="jumbotron text-center">Création d'un événement</h1>
<div class="container bloc-home">
    {{ form_start(formEventSport) }}

    {{form_row(formEventSport.title, {'attr': {'placeholder': "Titre de l'événement"}, 'label': "Titre"})}}
    {{form_row(formEventSport.description_event, {'attr': {'placeholder': "Description de l'événement"}, 'label': "Description"})}}
    {{form_row(formEventSport.image, {'attr': {'placeholder': "Image de présentation"}, 'label': "Image"})}}

    {{form_row(formEventSport.eventDate, {'label': "Date de l'événement"})}}
    {{form_row(formEventSport.sport, {'attr': {'placeholder': "Choix du sport"}, 'label': "Choix du sport"})}}
    {{form_row(formEventSport.zipCode, {'attr': {'placeholder': "Code Postal"}, 'label': "Code postal", 'id': 'code_postal'})}}
    {{form_row(formEventSport.city, {'label': "Ville", 'id': "ville"})}}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Enregistrer les modifications
        {% else %}
        Ajouter l'événement
        {% endif %}

    </button>

    {{ form_end(formEventSport) }}
</div>
{% endblock %}