{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur WeSport{% endblock %}

{% block body %}

<div class="container bloc-home">

    <h1 class="text-center jumbotron">WeSport: Rencontrer du monde à travers le sport</h1>

    {% if not app.user %}

    <p class="accroche">{{home.0.teaser}}</p>

    <p class="presentation">{{home.0.descriptionHome}}</p>

    <h2>Derniers événements</h2>


    <div class="nouveau">

        {% for last in lasts  %}
        <a href="" class="item">
            <img src=" {{last.image}} " alt="" class="images-nouveau" id="last_sport1">
            <p class="sport-pres"> {{last.title}} </p>
            <p class="lieu-heure">Lieu: {{last.zipCode}}, {{last.city}} | Date:
                {{last.eventDate | date('d/m/Y')}} à
                {{last.eventDate | date('H:i')}}</p>
        </a>
        {% endfor %}
    </div>


    <h2>Qui sommes-nous?</h2>
    <div class="qui-sommes-nous">
        <p class="phrase-pres">{{home.0.whatWeAre}}</p>
        <div class="deux-paragraphes">
            <div class="para1">

                <p class="question">Notre mantra</p>
                <p>{{home.0.mantra}}</p>
                <img src="img/basketball.jpg" alt="image sport collectif" class="photo-sport">
            </div>
            <div class="para2">

                <p class="question">Qui choisit de nous rejoindre?</p>
                <p>{{home.0.whoJoinUs}}</p>
                <img src="img/run-bridge.jpg" alt="image sportif" class="photo-sport">
            </div>
        </div>
    </div>
    <h2>Tester pour l'adopter</h2>
    <div class="bloc-tester">
        <div class="bloc-test" id="activer">
            <div id="truck" class="icon">
                <i class="fas fa-truck fa-2x "></i>
            </div>
            <p class="test-important">S'activer, Rencontrer, Se Motiver</p>
        </div>
        <div class="bloc-test" id="france">
            <div class="icon">
                <img src="img/drapeau.jpg" alt="drapeau français" class="drapeau " id="drapeaustatique">
                <img src="img/drapeaugif.gif" alt="drapeauquibouge" id="drapeauquibouge">
            </div>
            <p class="test-important">Un site français conçu et maintenu par une équipe française</p>
        </div>
        <div class="bloc-test" id="origin">
            <div class="icon">
                <i class="fas fa-sync-alt fa-2x" id="tourne"></i>
            </div>

            <p class="test-important">Vous êtes à l'origine des événements mais aussi acteurs de ces derniers</p>
        </div>
    </div>

    {% else %}

    <h2>Bonjour {{ app.user.username}} </h2>

    {% for eventSport in eventSports %}
    <article>
        <h2>{{eventSport.title}}</h2>
        <div class="metadata">Ecrit le {{eventSport.eventDate | date('d/m/Y')}} à {{eventSport.eventDate | date('H:i')}}
        </div>
        <div class="metadata"> Créé par: {{ eventSport.creator.username }} dans la catégorie
            {{eventSport.sport.sportName}}
        </div>

        <div class="content">
            <img src="{{eventSport.image}}" alt="image de l'événement">
            <p> {{eventSport.descriptionEvent}} </p>
        </div>
    </article>
    {% endfor %}

    {% endif %}
</div>

{% endblock %}