.menu-sticky {
    position: sticky;
    top: 0px;
    z-index: 20;
}

body {
    background-image: url("img/runners.jpg");
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (orientation: portrait) {
    body {
        background-image: url("img/surfer.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
}

.bloc-home {
    background-color: rgba(252, 252, 252, 0.5) !important;

}

.accroche {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 2rem;
}

.presentation {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

h2 {
    text-align: center;
    margin-top: 5rem;
    color: brown;
}

p {
    text-align: center;
}


.nouveau {
    display: flex;
    margin-top: 2rem;
}

.item {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
    transition-duration: 500ms;
}

.item:hover {
    box-shadow: 5px 10px 18px rgb(65, 65, 65);
    text-decoration: none;
    color: black;
    width: 35%;
}

@media only screen and (max-width: 800px) {
    .nouveau {
        display: block;
    }

    .item {
        width: 90%;
        margin-top: 3rem;
    }
}

.images-nouveau {
    width: 100%;
}

.phrase-pres {
    margin-top: 2rem;
}

.deux-paragraphes {
    display: flex;
}

.para1 {
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

.para2 {
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

@media only screen and (max-width: 800px) {
    .deux-paragraphes {
        display: block;
    }

    .para1,
    .para2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.photo-sport {
    width: 100%;
}

.question {
    margin-top: 2rem;
    font-weight: bold;
    font-size: larger;
}

.bloc-tester {
    display: flex;
    margin-top: 3rem;
}

.bloc-test {
    display: block;
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
}

.test-important {
    text-align: center;
}



.icon {
    text-align: center;
}

#origin:hover #tourne {
    transform: rotate(360deg);
    transition: 2s;
}

#activer:hover #truck {
    position: relative;
    animation-name: avancer;
    animation-duration: 2s;
}

@keyframes avancer {
    0% {
        left: 0px;
    }

    100% {
        left: 90px;
    }
}

#drapeauquibouge {
    display: none;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#france:hover #drapeauquibouge {
    display: block;
}

#france:hover #drapeaustatique {
    display: none;
}