{% extends "base.html.twig" %}

{% block title %}
Admin | Edit
{% endblock %}

{% block body %}
<h1 class="jumbotron text-center">Editer l'utilisateur</h1>
<div class="container bloc-home">

    {{ form_start(form)}}

    {{ form_row(form.username, {'attr': {'placeholder': "Nom d'utilisateur"}, 'label': "Nom d'utilisateur"})}}
    {{ form_row(form.email, {'attr': {'placeholder': "Email"}, 'label': "Email"})}}
    {{ form_row(form.password, {'attr': {'placeholder': "Mot de passe"}, 'label': "Mot de passe"})}}
    {{ form_row(form.userInfo.zipCode, {'attr': {'placeholder': "Code Postal"}, 'label': "Code Postal"})}}
    {{ form_row(form.userInfo.City, {'attr': {'placeholder': "Ville"}, 'label': "Ville"})}}
    {{ form_row(form.userInfo.favoriteSport, {'attr': {'placeholder': "Sport favori"}, 'label': "Sport favori"})}}


    <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form)}}
</div>

{% endblock %}