{% extends 'base.html.twig' %}

{% block title %}Gérer les sports{% endblock %}

{% block body %}

<h1 class="jumbotron text-center">Gérer les sports</h1>

<div class="container mt-4 bloc-home">


    <p class="text-center pt-4">
        <a href="{{ path('admin_add_sport')}}" class="btn btn-primary">Créer un nouveau sport</a>
    </p>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du sport</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sport in sports %}
            <tr>
                <td> {{sport.sportName}} </td>
                <td>
                    <a href="{{ path('admin_sport_edit', {id: sport.id})}}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin_sport_delete', {id: sport.id})}}"
                        style="display:inline-block"
                        onsubmit="return confirm('Etes vous vraiment sur de vouloir supprimer ce sport?')">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('deletesport' ~ sport.id)}}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}