{% extends "base.html.twig" %}

{% block body %}

<h1 class="text-center mt-4 mb-4 jumbotron">Edition de la page d'accueil</h1>

<div class="container bloc-home">
    {{form_start(form)}}

    {{form_row(form.teaser, {'attr': {'placeholder': "Accroche"}, 'label': "Accroche"})}}
    {{form_row(form.description_home, {'attr': {'placeholder': "Description"}, 'label': "Description"})}}
    {{form_row(form.whatweare, {'attr': {'placeholder': "Qui nous sommes"}, 'label': "Qui nous sommes"})}}
    {{form_row(form.whojoinus, {'attr': {'placeholder': "Qui nous rejoint"}, 'label': "Qui nous rejoint"})}}
    {{form_row(form.mantra, {'attr': {'placeholder': "Matra"}, 'label': "Mantra"})}}

    <button type="submit" class="btn btn-primary">Mettre à jour</button>

    {{form_end(form)}}
</div>
{% endblock %}